__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/

data/raw/*
!data/raw/apnea-ecg/
!data/raw/apnea-ecg/**

data/processed/
models/*.h5
models/*.keras
models/*.pkl
results/figures/*
results/metrics/*
.DS_Store
Thumbs.db
